<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bottle web project template">
  <meta name="author" content="datamate">

  <title>Dodaj proizvod</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/static/build.css">
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Dodaj proizvod</a>
      </button>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
	<div class="row" style="margin-top: 50px;">
        <div class="addFood-form">
          <input type="text" id="proizvod" name='proizvod' placeholder="Unesite naziv proizvoda" required>
            </div>

            <div class="form-group">
                <label for="cijena">Cijena (u kn)</label>
                <input type="number" class="form-control" id="cijena" name='cijena' placeholder="Unesite cijenu proizvoda" required>
            </div>

            <button type="submit" class="btn btn-primary">Sačuvaj</button>

        </div>     
    </div>

  </div>
</body>

</html>