<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bottle web project template">
  <meta name="author" content="datamate">

  <title>{{data[2]}}</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/static/build.css">
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">{{data[2]}}</a>
    </div>
  </nav>

  <!-- Page Content -->

  <div class="restaurant-content-box">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="jelovnik-tab" data-toggle="tab" href="#jelovnik" role="tab"
          aria-controls="jelovnik" aria-selected="true">Jelovnik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="recenzije-tab" data-toggle="tab" href="#recenzije" role="tab" aria-controls="recenzije"
          aria-selected="false">Recenzije</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="jelovnik" role="tabpanel" aria-labelledby="jelovnik-tab">
        %for item in data[0]:
        <div class="articles">
          <span class="checkboxtext">{{item.id_proizvod}}</span>
          <div class="price" data-price="{{item.cijena}}">{{item.cijena}} kn</div>
        </div>
        %end
        <div class="addFood">
          <label>Naziv novog proizvoda:</label>
          <input id="foodName" name="foodName" type="text"><br>
          <label>Cijena novog proizvoda:</label>
          <input id="foodPrice" name="foodPrice" type="number"><br>
          <button class="addFood-button" style="width: 40%;">Sacuvaj ovaj proizvod</button>
        </div>
      </div>

      <div class="tab-pane fade" id="recenzije" role="tabpanel" aria-labelledby="recenzije-tab">
        %for item in data[1]:
        <div class="review">
          <div>{{item.komentar}}</div>
          <div class="clmn">
            {{item.ocjena}}/5
            <div>{{item.id_korisnik}}</div>
          </div>
        </div>
        %end
      </div>

  </div>
  <script type="text/javascript" src="/static/custom.js"></script>

</body>

</html>